.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  margin-top: 70px;
  gap: 60px;
}

.logo {
  padding-bottom: 40px;
  padding-left: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #9b9faa;
}

.nav-list:hover,
.nav-list:focus {
  color: #747bff;
}

.banner {
  display: flex;
  justify-content: flex-end;
  margin-top: -200px;
}

.tablet {
  display: none;
}

.logo-mobile {
  display: none;
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .banner {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 1px;
  }

  .nav-link {
    display: flex;
    padding-right: 20px;
    gap: 30px;
  }

  .logo {
    display: flex;
  }

  .tablet {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
  }

  .line {
    display: none;
  }
}

/* Estilos para dispositivos pequeños (teléfonos) */
@media only screen and (max-width: 600px) {
  .banner {
    display: none;
  }

  .tablet {
    display: none;
  }

  .logo {
    display: none;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    border-bottom: 2px solid #e0e0e0;
  }

  .nav-link {
    display: flex;
    padding-right: 20px;
    gap: 30px;
  }

  .logo-mobile {
    display: flex;
    justify-content: flex-start;
    margin-top: -50px;
    margin-left: 20px;
  }
}
